---
import type { Book } from '../books';
import CustomButton from './CustomButton.astro';

interface Props {
  book: Book;
  bookIndex?: number;
}

const { book, bookIndex } = Astro.props;
---

<div class='flex flex-col justify-center items-center bg-white p-10 rounded'>
  <div class='h-30'>
    <div
      class='max-w-sm overflow-hidden transition-transform transform hover:scale-105 shadow-md'
    >
      <img
        class='object-fill w-32'
        src={book.url}
        alt={book.title}
        loading={bookIndex && bookIndex > 8 ? 'lazy' : 'eager'}
        fetchpriority={bookIndex && bookIndex <= 4 ? 'high' : 'auto'}
      />
    </div>
  </div>
  <p class='text-lg text-center py-5'>{book.title}</p>
  <CustomButton title='See Detail' link={`/book/${book?.id}`} />
</div>
